<nav class="navbar navbar-default no-m-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/img/app-logo.jpg" alt="App Logo" class="app-logo">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/b2b']">Offerings for Business</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/b2c']">Offerings for Consumer</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
  </div>
</nav>