<div class="container m-top-20">
    <h2>Our Products and Services for Business</h2>
  <tabs>
    <tab tabTitle="New project for constructors">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis semper sapien. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Nulla ut pulvinar justo. Proin vel nulla in quam sollicitudin
        condimentum quis a arcu. Phasellus sapien orci, dictum gravida facilisis non, ultricies in justo. Pellentesque suscipit,
        elit sed pharetra tempor, enim libero varius tortor, a dictum velit mi eget lectus. Donec ultrices justo tincidunt,
        pretium dolor eu, posuere dolor. Nulla a consectetur dui.</p>
    </tab>
    <tab tabTitle="Rebuild existing real estate">
      <p>Sed sed consectetur tellus. Nam sed tincidunt metus. Suspendisse sodales non ante non accumsan. Aenean congue ac nulla
        sed ornare. Nulla id arcu vitae ipsum dapibus feugiat sit amet sed elit. Mauris id ultrices diam, a volutpat mauris.
        Vestibulum nec dignissim erat. Aenean aliquet eleifend suscipit. Nulla sit amet enim imperdiet, faucibus sapien et,
        tristique massa. Phasellus id ultricies nibh, sit amet consectetur purus. Ut vitae porta elit, aliquam auctor lectus.
        Suspendisse quis enim sem.</p>
    </tab>
    <tab tabTitle="Need service agreement for customer facility">
      <p>Ut non interdum ante, ut congue magna. Sed lobortis commodo metus, nec scelerisque ex semper nec. Nulla facilisi. Praesent
        at ultrices purus. Duis velit felis, ornare iaculis magna et, hendrerit sollicitudin felis. Quisque fermentum nunc
        et rhoncus lobortis. Phasellus eget libero sagittis, vehicula nulla nec, iaculis magna. Nulla lobortis venenatis
        mattis. Phasellus interdum, dolor in malesuada molestie, dui purus dictum nisl, id malesuada risus mauris a purus.
        Suspendisse sed finibus diam./p>
    </tab>
  </tabs>
</div>